* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*----Layout----*/

#cabecalho {
	background: #f7b600;
	text-align: center;
	padding: 15px;
}

#logo, #menu {
	padding: 10px;
}

#corpo {
	width: 920px;
	margin: 0px auto;
	padding: 15px;
}

#area-postagem {
	width: 660px;
	float: left;
}

#area-lateral {
	width: 240px;
	float: right;
	background: green;
}

#rodape {
	background: #CCC;
	clear: both;
	text-align: center;
	padding: 15px;
}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

/*----Menu----*/

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #FFF;
	padding: 8px 12px;
}

a:hover {
	color: #f7b600;
	background: #FFF;
}

/*----Formatações gerais----*/

h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

.branco {
	color: #FFF;
}