* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

#cabecalho {
	background: yellow;
	text-align: center;
	height: 140px;
}

#titulocabecalho {
	padding: 30px;
}

#linkcabecalho {
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding: 5px 10px;
}

#corpo {
	background: green;
	width: 640px;
	margin-left: 150px;
}